# SQLite learning python

## Import

In [2]:
import sqlite3

## Create new connection

In [13]:
DB_PATH = 'my_db.db'
db = sqlite3.connect(DB_PATH)
cursor = db.cursor() #This cursor helps making queries by interacting with the DB loaded from the disk above

## Create new table

In [15]:
query = """
                        CREATE TABLE neew
                         (
                             id INT PRIMARY KEY,
                             name TEXT NOT NULL,
                             sex TEXT NOT NULL,
                             address TEXT NOT NULL,
                             power_level DECIMAL
                         );
                """
cursor.execute(query)
db.commit()
db.close()

OperationalError: near "(": syntax error

## Insert values

In [5]:
query = """
                    INSERT INTO my_table
                    VALUES(?,?,?,?,?)
"""
values = (1, 'Akame', 'F', 'somwhere happy', '9000')
cursor.execute(query, values)
# db.commit()
# cursor.close()

**Special note:** The above query, in a pythonic way could've been written as follows:
```python
# Suppose value_1... contain the values
"""
 INSERT INTO my_table
 VALUES({value_1}, {value_2}, {value_3}, {value_4}, {value_5})
"""
```
but it's unsecure, as stated [here](https://docs.python.org/2/library/sqlite3.html) 
![](https://imgs.xkcd.com/comics/exploits_of_a_mom.png)
so, use the above way of passing a tuple of variables in the execute function

## Commit changes and close db

In [6]:
db.commit()
cursor.close()

## Ending notes
Every other SQL query can be perfomed this way (as shown above). 
Just remember the following things:
- Commit the changes and close the db
- Pass the value tuple only as a parameters. Don't add them to the query string for security reasons.